# Exclude everything
/*

# Except for the tracked project files
!/.github
!/build-aux
!/cmake
!/data
!/docs
!/src
!.clang-format
!.gersemirc
!.gitattributes
!.gitignore
!buildspec.json
!CMakeLists.txt
!CMakePresets.json
!LICENSE
!README.md
!README.zh-TW.md
!README.ja.md

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber
